#root{
  -webkit-perspective: 1500px;
  perspective: 1500px;
}
.cal-wrap,
.cal-Box,
.cal-display,
.cal-digit-Box,
.cal-opera-Box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-around;
}
.cal-wrap{
  outline: 1px solid #dfdfdf;
  padding-bottom: 5px;
}
.cal-wrap, .cal-Box{
  width: 200px;
}
.cal-digit-Box{
  width: 150px;
}
.cal-opera-Box{
  width: 50px;
}
.cal-display{
  width: 100%;
  height: 60px;
  box-shadow: 0 0 1px #aaa inset;
  justify-content:center;
  -webkit-transform-origin:50% 100%;
  transform-origin:50% 100%;
}
.cal-dis-opera{
  width: 15%;
  height: 24px;
  padding-top: 36px;
  text-align: right;
  line-height: 24px;
  font-size: 20px;
}
.cal-dis-box{
  width: 80%;
  height: 60px;
}
.cal-dis-line{
  display: block;
  height: 30px;
  text-align: right;
  font-size: 20px;
  line-height: 30px;
}
.cal-digit,
.cal-operate,
.cal-funcbtn{
  display: inline-block;
  width: 38px;
  height: 38px;
  border: 1px solid #dfdfdf;
  text-align: center;
  font-size: 18px;
  line-height: 38px;
  margin-top: 5px;
}

